:root {
    --main-blue: #1479ff;
    --second-blue: #E6F1FF;
    --text-blue: #193B68;
    --gray-text: #a8a8a8;
}

body{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 5vh;
    box-sizing: border-box;
    background-color: var(--second-blue);
    font-family: Arial, Helvetica, sans-serif;
}


form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--main-blue);
    text-align: center;
    color: var(--second-blue);
    margin: 0;
    width: 50%;
    height: 80vh;
    padding: 10%;
    box-sizing: border-box;
    border: 0.1em solid var(--second-blue);
    border-radius: 1em;
    max-width: 500px;
}

.input--container{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 12px;
}

.input--container label{
    align-self: flex-start;
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 2%;
}

input{
    width: 100%;
    border-radius: 1em;
    padding: 0.7em;
    border: 0;
    font-size: 0.7em;
    box-sizing: border-box;
    outline: none;
    background-color: #ffffffba;
    transition: background-color 300ms;
}

input:focus{
    background-color: #fff;
}

.submit--btn{
    margin-top: 15px;
    background-color: var(--main-blue);
    color: #fff;
    align-items: center;
    border: 3px solid #fff;
    border-radius: 1em;
    width: 100%;
    padding: 10px;
    font-size: 1.3rem;
    transition: background, color 400ms;
}

.submit--btn:hover{
    cursor: pointer;
    color: var(--main-blue);
    transition: background, color 400ms;
    background-color: #fff;
    border: 3px solid var(--main-blue);
}

a{
    color: #ccc;
    text-decoration: none;
}

.input--label{
    font-size: 1em;
}

.title{
    font-size: 2em;
}

h2{
    font-size: 2em;
}

.image--form{
    width: 35vw;
    margin: 0 4vh;
}