<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Historify - Control de historial clínico</title>
        <link rel="stylesheet" href="../globals.css" type="text/css">
    </head>
    <body>
        <div id="modal" style="display: none;">REGISTRO COMPLETO</div>
        <h2 class="pg--title">Paciente</h2>
        <form class="form" action="" method="post">
            <h3 class="form--title">Ingrese los datos del paciente</h3>
            <div class="input--box"> 
                <label class="form--label" for="id_document">Cédula</label>
                <input class="form--input" type="text" name="id_document" id="id_document"  required>
            </div>
            <div class="input--box"> 
                <label class="form--label" for="gender">Género</label>
                <select name="gender" id="gender" class="form--input" required>
                    <option value="M">Hombre</option>
                    <option value="F">Mujer</option>
                    <option value="X">Otro</option>
                </select>
            </div>
            <div class="input--box"> 
                <label class="form--label" for="birth">Fecha de nacimiento</label>
                <input class="form--input" type="date" name="birth" id="birth" required>
            </div>
            <div class="input--box"> 
                <label class="form--label" for="fname">Nombres</label>
                <input class="form--input" type="text" name="fname" id="fname" required>
            </div>
            <div class="input--box"> 
                <label class="form--label" for="lname">Apellidos</label>
                <input class="form--input" type="text" name="lname" id="lname" required>
            </div>
            <div class="input--box"> 
                <label class="form--label" for="phone">Teléfono</label>
                <input class="form--input" type="tel" name="phone" id="phone" required>
            </div>
            <div class="input--box"> 
                <label class="form--label" for="area">Localidad</label>
                <select name="area" id="area" class="form--input" required>
                    <option value="BAR">Barcelona</option>
                    <option value="PLC">Puerto La Cruz</option>
                    <option value="LEC">Lechería</option>
                </select>
            </div>
            <div class="input--box"> 
                <label class="form--label" for="patient_desc">Descripción</label>
                <input class="form--input" type="text" name="patient_desc" id="patient_desc" required>
            </div>
            <input class="submit--btn" type="submit" value="Enviar">
        </form>
    </body>
</html>